
__pycache__/
*.py[cod]
*$py.class


venv/
.env/
*.venv
.Python
pip-log.txt
pip-delete-this-directory.txt


build/
dist/
*.egg-info/
*.egg


*.log
debug.log
*.sqlite3
*.db


htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/
pytest_debug.log


.mypy_cache/
.dmypy.json
